<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
        >

    <bean id="ehcache" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean">
        <property name="configLocation" value="ehcache.xml"/>
        <property name="shared" value="true"/>
    </bean>

    <bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager">
        <property name="cacheManager" ref="ehcache"/>
    </bean>

    <bean id="serviceContext"
          class="com.anand.analytics.isdamodel.context.ServiceContext">
        <constructor-arg index="0" ref="ehcache"/>
    </bean>

    <bean id="cdsCacheManager"
          class="com.anand.analytics.isdamodel.context.LocalCacheManager">
        <constructor-arg index="0" ref="serviceContext"/>
    </bean>

    <import resource="noHolidayCalendar.xml"/>
    <import resource="usHolidayCalendar.xml"/>
    <bean id="holidayCalendarMap" class="java.util.HashMap">

    </bean>
    <bean id="holidayCalendarFactory" class="com.anand.analytics.isdamodel.date.HolidayCalendarFactory">
        <constructor-arg>
            <map key-type="java.lang.String" value-type="com.anand.analytics.isdamodel.date.HolidayCalendar">
                <entry key="None" value-ref="noHolidaysCalendar"/>
                <entry key="USD" value-ref="usHolidaysCalendar"/>
            </map>
        </constructor-arg>
    </bean>

</beans>